<!-- sign up form -->
<%= form_for :user, method: :post do |f| %>
  <div class="text-field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control", placeholder: "First" %>
  </div>
  <br>

  <div class="text-field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last" %>
  </div>
  <br>

  <div class="text-field">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "123@example.com" %>
  </div>
  <br>

  <div class="password-field">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "Minimum 6, consist of alphabets and numbers (case sensitive)" %>
  </div>
  <br>

  <div class="text-field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number,class: "form-control" %>
  </div>
  <br>

  <div class="text-field">
    <%= f.label :information %>
    <%= f.text_area :information,class: "form-control", placeholder: "About me" %>
  </div>
  <br>

  <hr>
  <div class="submit-field">
    <%= f.submit "Sign Up", class: "btn btn-primary, col-sm-12" %>
  </div>
<% end %>